<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">From an ideation event to a #GameChanger.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 9th, 2018 </h4>
                                    <h4 class="subheading">Meeting the team</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We met together for the first time as a team at the KPMG Ideation Challenge event in Frankfurt, Germany and discussed several ideas about Augmented Reality.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image"> 
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>March 10th - March 23th, 2018</h4>
                                    <h4 class="subheading">Working on the idea</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We were discussing several different ideas to make an impact with AR technology.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>May 2018</h4>
                                    <h4 class="subheading">Co-Development Weekend</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We met with the organizers and AR experts to develop our idea further in Amsterdam, Netherlands. We had an amazing weekend with Team Canada from the University of Waterloo and managed to take the win home to Germany.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>October 2018</h4>
                                    <h4 class="subheading">Presentation at KPMG AI Summit in Paris</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">As the winner of the KPMG Ideation Challenge we were presenting our startup at KPMG's global D&A summit in Paris, France.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image" id="newsletter">
                                <img class="img-circle img-responsive" src="img/about/5.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Now</h4>
                                    <h4 class="subheading">Be part of our story</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Join our newsletter.</p>
                                </div>
                            </div>
                            <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false">
                            </script><script type="text/javascript">
                                var newsletter = document.getElementById('newsletter');
                                newsletter.style.cursor = 'pointer';
                                function showMailingPopUp() {
                                    window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"ebea51b43193909e507d69cee","lid":"eb0f8f70b2","uniqueMethods":true}) });
                                    document.cookie = "MCPopupClosed=; expires=Thu, 01 Jan 1970 00:00:00 UTC";
                                };
                                newsletter.onclick = function() {
                                    showMailingPopUp()
                                };
                            </script>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>